.FilterName {
    margin-left: 10px !important;
}

@media screen and (max-width: 650px) {
    .Grid {
        margin: 0 auto !important;
        transform: translateX(-12px);
    }
    .Inputs {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10px !important;
    }

    .Container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .NewGrid {
        display: flex;
        flex-direction: column;
        margin-top: 0 !important;
    }

    .FilterName {
        margin-left: 0 !important;
        margin-top: 10px !important;
    }
}
