.Modal {
    position: fixed;
    z-index: 2100;
    background-color: white;
    padding: 40px;
    left: 5%;
    top: 10%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    word-break: break-all;
    width: 90%;
}

.Name {
    order: 1;
    margin-bottom: 12px;
}

.Image {
    order: 2;
    margin-right: 0 !important;
}

.ImgName {
    flex-direction: column;
    align-items: center;
}

@media (min-width: 500px) {
    .Modal {
        width: 85%;
        left: 8%;
    }
}

@media (min-width: 600px) {
    .Modal {
        width: 80%;
        left: 10%;
    }

    .ImgName {
        flex-direction: row;
        align-items: flex-start;
    }

    .Name {
        order: 2;
    }

    .Image {
        order: 1;
        margin-right: 16px !important;
    }
}

@media (min-width: 800px) {
    .Modal {
        width: 60%;
        left: 20%;
    }
}

@media (min-width: 1000px) {
    .Modal {
        width: 60%;
        left: 25%;
    }
}
