.Wrapper {
    display: flex;
    border: 1px solid black;
    width: 80%;
    margin: 10px auto;
    padding: 20px;
    justify-content: space-between;
    font-family: 'Comic Neue', sans-serif;
}

.Right {
    align-self: flex-end;
    border: 1px solid black;
    padding: 2px 20px;
    border-radius: 4px;
    text-align: center;
}

.Left {
    display: flex;
    padding-top: 30px;
    margin-bottom: 50px;
}

.UpDown {
    margin-right: 15px;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Text {
    font-weight: bold;
}

.Input {
    margin-top: 10px;
}

.UpDown i {
    font-size: 20px;
    cursor: pointer;
}
